<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rokomari Test">
 
  <test name="SignIn">
      <classes>
       <class name="com.Rokomari.tests.SignInWithGoogleTest"/>
      </classes>
  </test> 
    <test name="Menu">
      <classes>
       <class name="com.Rokomari.tests.HomePageTest"/>
      </classes>
  </test>   
  <test name="writer Page">
      <classes>
       <class name="com.Rokomari.tests.WriterPageTest"/>
      </classes>
  </test> 
    <test name="Order Page">
      <classes>
       <class name="com.Rokomari.tests.OrderPageTest"/>
      </classes>
  </test>   
 
</suite> 